    <!--Load the AJAX API-->


<h1>2008 Presidential Contributions</h1>

<div id="render_container"></div>
<script type="text/template" id="render_template">

    <div>
      <label>Chart Type</label>
      <input type="text" id="chart_type_input" value="{{=chart_type}}" />
    </div>

    <div>
      <label>Aggregate By</label>
      <input type="text" id="aggregate_by_input" value="{{=aggregate_by}}" />
    </div>

    <div>
      <label>Width</label>
      <input type="text" id="width_input" value="{{=width}}" />
    </div>

    <div>
      <label>Height</label>
      <input type="text" id="height_input" value="{{=height}}" />
    </div>

    <div>
    <input type="button" id="render_button" value="Render" />
    </div>
</script>

<!--Div that will hold the pie chart-->
    <div id="chart_div"></div>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
 
  <tbody>
    <% @contributions.each do |contribution| %>
      <tr>
        <td><%= contribution.cand_nm %></td>
        <td><%= contribution.contb_receipt_amt %></td>
        <td><%= contribution.contb_receipt_dt %></td>
        <td><%= contribution.contbr_st %></td>
        <td> <%= contribution.contbr_occupation %></td>
      </tr>
    <% end %>
  </tbody>
</table>

